<footer class="footer">
  <section class="links">
    <nav class="left-side">
      <p class="footer-label"> Navigation </p>
      <ul>
        <li><a href="#"> Home </a></li>
        <li><a href="#"> Shop </a></li>
        <li><a href="#"> About </a></li>
        <li><a href="#"> Contact </a></li>
      </ul>
    </nav>
    <nav class="right-side">
      <p class="footer-label"> Shop </p>
      <ul>
        <li><a href="#"> Pawfect Vests </a></li>
        <li><a href="#"> PawPatrol Helmets </a></li>
        <li><a href="#"> Pawtective Boots </a></li>
      </ul>
    </nav>
  </section>

  <div class="footer-bottom">
    <p class="copyright"> &#169; 2025 Paws Emporium </p>

    <div class="legal">
      <a class="privacy-policy" href="#"> Privacy Policy </a>
      <a class="terms-conditions" href="#"> Terms and Conditions </a>
    </div>
  </div>
</footer>