.footer {
  background-color: black;
  color: white;
  padding: 5rem 12rem;
}

.links {
  line-height: 32px;
  display: flex;
  justify-content: end;
  vertical-align: top;
  column-gap: 15rem;
  margin-bottom: 75px;
}

.links p {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

.links ul {
  padding: 0;
  list-style: none;
}

.links a {
  font-size: 14px;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer .left-side,
.footer .right-side {
  text-align: center;
}

.footer-bottom {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.legal {
  display: flex;
  column-gap: 45px;
}