.intro-section {
  text-align: center;
  margin: 160px 320px;
}

.intro-section h2 {
  color: #333333;
  font-size: 32px;
  letter-spacing: 2px;
}

.intro-section p {
  color: #555555;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 1px;
}

.best-selling-products h3,
.best-selling-products h4 {
  text-align: center;
  text-transform: uppercase;
}

.best-selling-products h4 {
  font-size: 16px;
  color: #555555;
  font-weight: 500;
}

.best-selling-products h3 {
  font-size: 26px;
  color: #333333;
}

.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 30px 0px 100px 0px;
  padding: 20px 50px;
  column-gap: 20px;
}

.product-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  max-width: 380px;
  width: 100%;
}

.product-image {
  width: 380px;
  height: 500px;
  object-fit: cover;
}

.product-details {
  display: flex;
  justify-content: space-between;
  padding: 5px 8px;
}

.left-details {
  text-transform: none;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  row-gap: 8px;
}

.product-name {
  font-size: 16px;
  letter-spacing: 0.2px;
  color: #333333;
}

.product-color,
.product-price {
  font-size: 14px;
  font-weight: 500;
  color: #555555;
}

.testimonial {
  position: relative;
  max-width: 1000px;
  margin: auto; 
  margin-bottom: 100px;
  padding: 50px 70px;
  box-sizing: border-box;
}

.testimonial-card {
  margin: auto;
  max-width: 1000px;
  padding: 20px;
  text-align: center;
}

.customer-feedback {
  color: #333333;
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 50px;
  line-height: 60px;
}

.customer-name {
  color: #555555;
  font-size: 18px;
}

.arrows {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none;
}

.arrows > div {
  pointer-events: auto;
  cursor: pointer;
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555555;
  font-size: 2rem;
  user-select: none;
}