.intro-section {
  text-align: center;
  margin: 160px 320px;
}

.intro-section h2 {
  color: rgb(30, 30, 30);
  font-size: 32px;
  letter-spacing: 2px;
}

.intro-section p {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 1px;
}